.confirmBookingTitle {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.thankYouText {
  font-weight: bold;
  font-size: 1.2em;
  color: #3F392F;
}

.confirmBookingText {
  padding-left: 59px;
  line-height: 25px;
  font-size: 0.75em;
}

.enterEmailText {
  line-height: 25px;
  font-size: 0.75em;
}

.priceText {
  font-size: 1.5em;
  margin-left: 7px;
}

#confirm-booking-email-input{
  border-radius: 0;
}

#confirm-booking-email-input.form-control {
  font-size: 0.7em;
  font-style: italic;
  padding: 0;
  padding-left: 20px;
  border: 0;
  border-bottom: 1.2px solid black;
}

hr {
  margin: 0 !important;
  margin-left: 10vw !important;
}

.returnButton {
  width: 100%;
  background-color: #B9986D !important;
  border: none !important;
  font-weight: bold !important;
}