.residenceCard {
  height: 15vh;
  display: flex;
  align-items: center;

}
.prevImage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.cardImage {
  height: auto;
  width: 100%;
  border-radius: 5px;
}
.residenceDetailsTitle {
  font-size: 0.95rem;
  font-weight: 1000;
}
.residencePriceDetails {
  font-size: 0.95rem;
  font-weight: 1000;
  border-bottom: solid 0.5px black;
}
.residenceDetailsCommonDetails {
  font-size: 0.75rem;
  font-weight: 0;
}
.perNightText {
  font-size: 1em;
}
