// import the whole bootstrap
@import "./bootstrap/bootstrap.scss";
@import "./sticky-footer";

// my own styling
body {
  background-color: #a1b9a1;
  background-image: url('../images/clean-bnb-background-image.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 33.5%; 
}

.fe-image{
  width: 300px;
}