body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3F392F !important;
   overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer{
 background-color: #3F392F;
 color: #B9986D
}

.App{
  background-image: url('./images/clean-bnb-background-image.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 33.5%; 
  padding: 0;
}
main{
  min-height: 81vh;
}

.darkbrown{
  background-color: #3F392F;
}
.golden{
  color: #B9986D;
}
.white{
  background-color: white;
}

.login-logout {
  color: #B9986D;
}

.login-logout-button {
  color: #3F392F;
  border: 2px #B9986D;
}

.border {
  border: 2px #B9986D;
  border-color: #B9986D !important;
}